skills/kestra-orchestrator/assets/templates/discord-notification.yml
# Discord Notification Template
# Send messages to Discord via webhook
#
# Setup:
# 1. Create a Discord webhook in your server settings
# 2. Replace WEBHOOK_URL with your webhook URL
# 3. Customize the message format

id: discord-notification
namespace: notifications
description: |
  Send notifications to Discord via webhook.
  Can be triggered manually or by other flows.

inputs:
  - id: message
    type: STRING
    defaults: "Hello from Kestra!"
    description: Message to send

  - id: username
    type: STRING
    defaults: "Kestra Bot"
    description: Bot display name

  - id: webhook_url
    type: STRING
    # Replace with your actual webhook URL
    defaults: "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN"
    description: Discord webhook URL

tasks:
  - id: send_message
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.webhook_url }}"
    method: POST
    headers:
      Content-Type: "application/json"
    body: |
      {
        "username": "{{ inputs.username }}",
        "content": "{{ inputs.message }}",
        "embeds": [
          {
            "title": "Kestra Notification",
            "description": "{{ inputs.message }}",
            "color": 5814783,
            "footer": {
              "text": "Sent via Kestra | {{ now() | date('yyyy-MM-dd HH:mm') }}"
            }
          }
        ]
      }

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: "Discord notification sent. Status: {{ outputs.send_message.code }}"

  - id: verify_success
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.send_message.code != 204 }}"
    then:
      - id: log_error
        type: io.kestra.plugin.core.log.Log
        level: ERROR
        message: "Failed to send Discord message: {{ outputs.send_message.body }}"
