skills/kestra-orchestrator/assets/templates/parallel-api-calls.yml
# Parallel API Calls Template
# Make multiple API calls concurrently and aggregate results
#
# Use case: Fetch data from multiple sources simultaneously

id: parallel-api-calls
namespace: automations
description: |
  Execute multiple API calls in parallel and combine results.
  Useful for aggregating data from multiple sources.

inputs:
  - id: timeout
    type: STRING
    defaults: "PT30S"
    description: Timeout for each API call

tasks:
  - id: parallel_fetch
    type: io.kestra.plugin.core.flow.Parallel
    concurrent: 5  # Max concurrent requests
    tasks:
      - id: fetch_users
        type: io.kestra.plugin.core.http.Request
        uri: "https://jsonplaceholder.typicode.com/users"
        method: GET
        options:
          readTimeout: "{{ inputs.timeout }}"

      - id: fetch_posts
        type: io.kestra.plugin.core.http.Request
        uri: "https://jsonplaceholder.typicode.com/posts?_limit=10"
        method: GET
        options:
          readTimeout: "{{ inputs.timeout }}"

      - id: fetch_comments
        type: io.kestra.plugin.core.http.Request
        uri: "https://jsonplaceholder.typicode.com/comments?_limit=10"
        method: GET
        options:
          readTimeout: "{{ inputs.timeout }}"

  - id: aggregate_results
    type: io.kestra.plugin.scripts.python.Commands
    commands:
      - python aggregate.py
    inputFiles:
      aggregate.py: |
        import json

        # Parse results from parallel tasks
        users = json.loads('''{{ outputs.fetch_users.body }}''')
        posts = json.loads('''{{ outputs.fetch_posts.body }}''')
        comments = json.loads('''{{ outputs.fetch_comments.body }}''')

        # Aggregate
        summary = {
            "total_users": len(users),
            "total_posts": len(posts),
            "total_comments": len(comments),
            "users": [u["name"] for u in users[:5]],
            "latest_posts": [p["title"][:50] for p in posts[:3]]
        }

        print(f"Aggregated {summary['total_users']} users, "
              f"{summary['total_posts']} posts, "
              f"{summary['total_comments']} comments")

        with open('summary.json', 'w') as f:
            json.dump(summary, f, indent=2)
    outputFiles:
      - summary.json

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: |
      Parallel fetch complete!
      Summary: {{ read(outputs.aggregate_results.outputFiles['summary.json']) }}

outputs:
  - id: summary
    type: JSON
    value: "{{ read(outputs.aggregate_results.outputFiles['summary.json']) }}"
